body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

header{
  background-color: #8b7f7f
}
h1 {
  color: #333;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
}
input[type="submit"]{
  padding:10px;
  border-radius: 10px;
  border-width:2px;
  border-color: black;
  border-style: solid;
  margin-left: 5px;
}
div{
  margin-top : 5px;
}

.digit{
  padding: 10px;
  margin: 2px;
  color: #FFFFFF;
  border-radius:10px;
}